body {
    margin-left: auto;
    margin-right: auto;
    min-width: 300px;
    max-width: 600px;
    font-family: "Source Code Pro";

}
div.contents {
    height: 100vh;
    background-color: #dae3f5;
}
div#logo {
    text-align: right;
    font-family: "Source Code Pro";
    background-color: rgba(163, 241, 192, 0.75);
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: xx-large;
    font-weight: bold;
}
div#special {
    background-color: #ffa3cb;
}
div.cv {
    background-color: inherit;
}
div.cv li {
    list-style: none;
}
div#contact {
    background-color: lavenderblush;
}
div#skills {
    background-color: lavenderblush;

}
div#school {
    background-color: lavenderblush;
}
div#hobbies {
    background-color: lavenderblush;
}

.cv-header {
    font-size: large;
}

.cv-text-left {

}

.cv-text-right {
float: right;
    padding-right: 15em;
    /*background-color: blueviolet;*/
}